<div class="jumbotron">
    <h1 class="display-4 d-flex justify-content-center" style="font-family: Roboto, sans-serif;">Contact Me</h1>    
  </div>
  <div class="container justify-content-center" style="width:500px; margin: auto;">
      <form>
          <div class="form-group">
              <label for="exampleFormControlInput1">First Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
            </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Last Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
          </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Phone Number</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"placeholder="Leave Your Messege Here"></textarea>
          </div>
          <div class="d-flex  justify-content-center mt-4">
              <button value="submit" class="btn btn-primary" style="width:100px;">Submit</button>
          </div>
          
        </form>
  </div>