<div class="jumbotron">
    <h1 class="display-4 d-flex justify-content-center" style="font-family: Roboto, sans-serif;">Welcome To TP Consulting</h1>    
  </div>
  <div class="d-flex justify-content-center d-inline-flex" style="margin-top:40px;">
      <img style="max-height: 200px"class="img-fluid w-50" src="/Assets/images/images/meeting.jpg" alt="banner">
      <div class= "mx-5">
          <h3>Our Mission:</h3>
          <p style="font-size: 18px">
          TP Consulting strives to provide the most cost-effective solutions to business of all sizes. From setting up your site to scaling your business with online ad campaigns, we got it all covered. Our goal is to provide you the most reliable service with fast turnaround time at the most affordable price.           
          </p>
          <a href="/projects"><button type="button" class="btn btn-primary btn-dark">Find Out More</button></a>
      </div>
  </div> 