<div class="jumbotron">
    <h1 class="display-4 d-flex justify-content-center">Projects I Have Worked On</h1>    
  </div>
  <div class="container mt-5 justify-content-between">
      <div class="row row-cols-2  ">
          <div class="col"> 
              <h3>eCommerce Website</h3>
              <img class="img-fluid rounded mx-auto d-block" src="../../../Assets/images/images/eCom.jpg" alt="eCom">
              <h5 class="mt-1 ">Description:</h5>
              <p>This is an eCommerce Template  that I have created using HTML, CSS, and Javascript. This site contains featured items as well as a catalogue of products. When a product is clicked on, it will be featured in a modal-box that contains the product's name as well as a brief description. User can select the quantity and add the product to the shopping cart.</p>
              <p>This project is work-in-progress, and more features will be added. A checkout page is being worked on where users can select and enter the information for their method of payment.</p>
              <a href="https://thangvpham.github.io/eCommerce/"><button type="button" class="btn btn-info">Live Demo</button></a>
          </div>
          <div class="col"> 
              <h3>Static Webpage</h3>
              <img class="img-fluid rounded mx-auto d-block" src="../../../Assets/images/images/static.jpg" alt="static">
              <h5 >Description:</h5>
              <p>This is a static webpage that I made using HTML CSS and JS. It features a few animations such as the meteor effect on the background picture, making it feels more lively. The navbar also contains hovering effects and highlights that let visitors know the current page. A weather API is used to display the weather status in Toronto.</p>
              <p>This page was the first project that I took on after the first semester of school. You can find some of my school assignments on this website.</p><br><br>
              <a href="http://studentweb.cencol.ca/tpham91/Site/"><button type="button" class="btn btn-info">Live Demo</button></a>          
          </div>         
          <div class="col mt-4"> 
              <h3>Hangman</h3>
              <img class="rounded mx-auto d-block" src="../../../Assets/images/images/hangman.jpg" alt="hangman">
              <h5>Description:</h5>
              <p>A word-guessing game that made using C#. When the game starts, one player will be asked to enter the word and the other play must guess it correctly. The number of guesses players are allowed to get wrong depends on the length of the word. The more difficult the word, the more guesses playeres are granted.</p>
              <a href="https://github.com/ThangVPham/Hangman"><button type="button" class="btn btn-info">GitHub</button></a>
              
          </div>
          <div class="col  mt-4"> 
              <h3>BlackJack</h3>
              <img class="rounded mx-auto d-block mt-3 " src="../../../Assets/images/images/blackjack.jpg" alt="blackjack">
              <h5>Description:</h5>
              <p>A popular 21 game that was made using C# Object-oriented programming. Players starts out with $500.00 in cash and must try to beat the house. The game also allows players to see how many cards are left in the deck, which is handy if counting card is what players want to practice.</p>
              <a href="https://github.com/ThangVPham/BlackJack"><button type="button" class="btn btn-info">GitHub</button><br><br><br><br></a>
              
          </div>         
      </div>

  </div>