<div class="jumbotron">
    <h1 class="display-4 d-flex justify-content-center mb-5">Services</h1>    
  </div>
  <div class="d-flex flex-row justify-content-center ">
      <div class="p-2">
          <img src="../../../Assets/images/images/graph.jpg" alt="graph">
          <h4 class="text-center">Data Engineering</h4> 
          <p class="text-center">ETL and analyze data using SQL, Python (pandas, Scikit-Learn), Oracle DB design, develop & admin, forecast modelling, Time-Series, Regression, statistics</p>
      </div>
      <div class="p-2">
          <img src="../../../Assets/images/images/comp.jpg" alt="computer">
          <h4 class="text-center">Fullstack Development</h4>
          <p class="text-center">Develop applications using Java EE, Spring boot, servlet, JSP, MVC, OOP, SQL,MongoDB, HTML, CSS, JavaScript, jQuery, Bootstrap</p>
      </div>
      <div class="p-2">
          <img src="../../../Assets/images/images/gear.jpg" alt="gear">
          <h4 class="text-center">System Design <br>&<br> Implementation</h4>
          <p class="text-center">System analysis & design UML based on business requirements. Proficient with visio, visual paradigm</p>
      </div>
      <div class="p-2">
          <img src="../../../Assets/images/images/brief.jpg" alt="brief">
          <h4 class="text-center">Business Acumen</h4>
          <p class="text-center">Solving business problems using analytics and technology. Expertise in business analytics and optimization.</p>
      </div>
  </div>